@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can have other custom CSS below these directives */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* Add these to ensure full height for background images */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbar issues */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}